<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Online Voting System</title>
</head>

<body>
    <section id="header">
        <div>
            <ul id="navbar">
                <li><a href="/Proto1">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/candidates">Candidates</a></li>
                <li><a href="/vote">Vote</a></li>
                <li><a href="/results">Results</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </div>
        <div>
            <ul id="navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </section>

    <section id="admin-dashboard">
        <h2>Admin Dashboard</h2>
        <form action="/admin" method="post">
            <button type="submit" name="run_testing_script">Run Testing Script</button>
        </form>

        
        <div id="results">
            {% if reg_results %}
            <h3>Simulated Voter Registration Results:</h3>
            <ul>
                {% for result in reg_results %}
                <li>{{ result }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if vote_results %}
            <h3>Simulated Voting Results:</h3>
            <ul>
                {% for result in vote_results %}
                <li>{{ result }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </section>
</body>

</html>

