{% extends 'base.html' %}
{% block page_content %}
<html lang="en">
    <body>
        <div class="content">
            <h1>Welcome to the Online Voting System</h1>
            <p>This is a prototype website that is very simple. You can find a navigation bar at the top.</p>
        </div>

        <div class="content">
            <h2>Understanding the First-Past-The-Post (FPTP) Voting System</h2>
            <p>---------------------------------------------------------------------------------------------------- </p>
            <p>The First-Past-The-Post (FPTP) voting system is a simple and widely used method for electing representatives. Here's how it works:</p>
            <p>---------------------------------------------------------------------------------------------------- </p>

            <ol>
                <li><strong>Candidates:</strong> Multiple candidates run for a single position in an election.</li>
                <li><strong>Single Vote:</strong> Voters cast a single vote for the candidate they prefer in their constituency.</li>
                <li><strong>Plurality Wins:</strong> The candidate with the most votes in a constituency wins, regardless of whether they have an absolute majority.</li>
                <li><strong>Winner Takes All:</strong> Unlike proportional representation systems, FPTP follows a "winner-takes-all" approach, where the winning candidate represents the entire constituency.</li>
                <li><strong>Majority not Required:</strong> A candidate doesn't need to secure more than 50% of the total votes; they just need to have more votes than any other candidate.</li>
            </ol>
            <p>---------------------------------------------------------------------------------------------------- </p>



            <p>Feel free to explore our Candidates page to gain more infomation prior to your decision</p>
        </div>
    </body>
</html>
{% endblock %}