{% extends 'base.html' %}
{% block page_content %}
<html>
    <body class="admin-page">
        <div>
            <h1>Admin</h1>
        </div>

        <form action = "" method = "POST">

            {{ candidate_form.csrf_token }}
            <p>
                {{ candidate_form.Name.label }} {{ candidate_form.Name() }}
            </p>
            <p>
                {{ candidate_form.Party.label }} {{ candidate_form.Party() }}
            </p>
            <p>
                {{ candidate_form.Constituency.label }} {{ candidate_form.Constituency() }}
            </p>
            {{ candidate_form.submit() }}

        </form>

        {% for candidate in candidates %}
            <div class="candidate-info">
                <h4>{{ candidate.Name }}</h4>
                <p>Party: {{ candidate.Party }}</p>
                <p>Constituency: {{ candidate.Constituency }}</p>
            </div>
        {% endfor %}

        <a href="/messages.html" class="view-messages-btn">View Messages</a>
    </body>
</html>
{% endblock %}