{% extends 'base.html' %}
{% block page_content %}
<html>
    <body>
        <div class="content">
            <a href="https://en.wikipedia.org/wiki/Liz_Truss">
                <img ID ="photo" src="../static/Images/Liz.jpg" alt="photo Liz Truss" width="40%">
            </a>
            <h2>Liz Truss:</h2><br>
            <p> {{text}} </p>
            <br><br><A href="https://en.wikipedia.org/wiki/Liz_Truss" ><p>Source: https://en.wikipedia.org/wiki/Liz_Truss</p></A>
        </div>
    </body>
</html>
{% endblock %}