{% extends 'base.html' %}
{% block page_content %}
<html>
    <body class="login-page">
        <div class="content">
            <form action="/login.html" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Type your username" title="Please enter your username" required><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Type your password" title="Please enter your password" required><br>
                <button type="submit">Log in</button>
            </form>

            <p>Don't have an account? <a href="register.html">Register here</a></p>
        </div>
    </body>
</html>
{% endblock %}
