{% extends 'base.html' %}
{% block page_content %}

<body>
  <div class="cardTest">
    <h1>Welcome to the Online Voting System </h1>
  </div>

  <div class="row">

    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" src="../static/Images/joe.jpg">
      </div>
      <div class="team-content">
        <a href="Joe.html">
          <h3 class="name">Joe Biden</h3>
        </a>
        <h4 class="title">Candidate</h4>
        <ul class="social">
          <li><a href="https://www.facebook.com/joebiden/?locale=en_GB" class="button-logo facebook" aria-hidden="true"></a></li>
          <li><a href="https://twitter.com/JoeBiden?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="button-logo x" aria-hidden="true"></a></li>
          <li><a href="https://en.wikipedia.org/wiki/Joe_Biden" class="button-logo wiki" aria-hidden="true"></a></li>
          <li><a href="https://www.instagram.com/joebiden/?hl=en" class="button-logo insta" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>

    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" src="../static/Images/rishi.jpg">
      </div>
      <div class="team-content">
        <a  href="Rishi.html">
          <h3 class="name">Rishi Sunak</h3>
        </a>
        <h4 class="title">Candidate</h4>
      </div>
      <ul class="social">
        <li><a href="https://www.facebook.com/rishisunak/" class="button-logo facebook" aria-hidden="true"></a></li>
        <li><a href="https://twitter.com/RishiSunak?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="button-logo x" aria-hidden="true"></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Rishi_Sunak" class="button-logo wiki" aria-hidden="true"></a></li>
        <li><a href="https://www.instagram.com/rishisunakmp/?hl=en" class="button-logo insta" aria-hidden="true"></a></li>
      </ul>
    </div>

    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" src="../static/Images/boris.jpg">
      </div>
      <div class="team-content">
        <a href="Boris.html">
          <h3 class="name">Boris Johnson</h3>
        </a>
        <h4 class="title">Candidate</h4>
      </div>
      <ul class="social">
        <li><a href="https://www.facebook.com/borisjohnson/" class="button-logo facebook" aria-hidden="true"></a></li>
        <li><a href="https://twitter.com/BorisJohnson?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="button-logo x" aria-hidden="true"></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Boris_Johnson" class="button-logo wiki" aria-hidden="true"></a></li>
        <li><a href="https://www.instagram.com/borisjohnsonuk/?hl=en" class="button-logo insta" aria-hidden="true"></a></li>
      </ul>
    </div>


    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" src="../static/Images/DT.jpg">
      </div>
      <div class="team-content">
        <a href="Donald.html">
          <h3 class="name">Donald Trump</h3>
        </a>
        <h4 class="title">Candidate</h4>
      </div>
      <ul class="social">
        <li><a href="https://www.facebook.com/DonaldTrump/?locale=en_GB" class="button-logo facebook" aria-hidden="true"></a></li>
        <li><a href="https://twitter.com/realDonaldTrump" class="button-logo x" aria-hidden="true"></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Donald_Trump" class="button-logo wiki" aria-hidden="true"></a></li>
        <li><a href="https://www.instagram.com/realdonaldtrump/?hl=en" class="button-logo insta" aria-hidden="true"></a></li>
      </ul>
    </div>

    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" src="../static/Images/Liz.jpg">
      </div>
      <div class="team-content">
        <a href="Liz.html">
          <h3 class="name">Liz Truss</h3>
        </a>
        <h4 class="title">Candidate</h4>
      </div>
      <ul class="social">
        <li><a href="https://www.facebook.com/LizTrussMP/?locale=en_GB" class="button-logo facebook" aria-hidden="true"></a></li>
        <li><a href="https://twitter.com/trussliz" class="button-logo x" aria-hidden="true"></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Liz_Truss" class="button-logo wiki" aria-hidden="true"></a></li>
        <li><a href="https://www.instagram.com/elizabeth.truss.mp/?hl=en" class="button-logo insta" aria-hidden="true"></a></li>
      </ul>
    </div>
  </div>
</body>  
{% endblock %}
