<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../static/style.css">
            <title>Online Voting System</title>
        </head>
        <body>
            <section id="header">
                <div>
                    <ul id="navbar">
                        <li><a href="Proto1.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="candidates.html">Candidates</a></li>
                        <li><a href="vote.html">Vote</a></li>
                        <li><a href="results.html">Results</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div>
                    <ul id="navbar-right">
                        <li><a href="login.html">Login</a></li>
                        <li><a href ="register.html">Register</a></li>
                    </ul>
                </div>
            </section>
            <div class="cardTest">
                <h1>Welcome to the Online Voting System </h1>
              </div>

<div class="row">

    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" src="../static/Images/joe.jpg">
      </div>
      <div class="team-content">
        <h3 class="name">Joe Biden</h3>
        <h4 class="title">Candidate</h4>
      </div>
      <ul class="social">
        <li><a href="https://www.facebook.com/joebiden/?locale=en_GB" class="button-logo facebook" aria-hidden="true"></a></li>
        <li><a href="https://twitter.com/JoeBiden?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="button-logo x" aria-hidden="true"></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Joe_Biden" class="button-logo wiki" aria-hidden="true"></a></li>
        <li><a href="https://www.instagram.com/joebiden/?hl=en" class="button-logo insta" aria-hidden="true"></a></li>
      </ul>
    </div>
  </div>

    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" src="../static/Images/rishi.jpg">
      </div>
      <div class="team-content">
        <h3 class="name">Rishi Sunak</h3>
        <h4 class="title">Candidate</h4>
      </div>
      <ul class="social">
        <li><a href="https://www.facebook.com/rishisunak/" class="button-logo facebook" aria-hidden="true"></a></li>
        <li><a href="https://twitter.com/RishiSunak?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="button-logo x" aria-hidden="true"></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Rishi_Sunak" class="button-logo wiki" aria-hidden="true"></a></li>
        <li><a href="https://www.instagram.com/rishisunakmp/?hl=en" class="button-logo insta" aria-hidden="true"></a></li>
      </ul>
    </div>

    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" src="../static/Images/boris.jpg">
      </div>
      <div class="team-content">
        <h3 class="name">Boris Johnson</h3>
        <h4 class="title">Candidate</h4>
      </div>
      <ul class="social">
        <li><a href="https://www.facebook.com/borisjohnson/" class="button-logo facebook" aria-hidden="true"></a></li>
        <li><a href="https://twitter.com/BorisJohnson?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="button-logo x" aria-hidden="true"></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Boris_Johnson" class="button-logo wiki" aria-hidden="true"></a></li>
        <li><a href="https://www.instagram.com/borisjohnsonuk/?hl=en" class="button-logo insta" aria-hidden="true"></a></li>
      </ul>
    </div>


    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" src="../static/Images/donald.jpg">
      </div>
      <div class="team-content">
        <h3 class="name">Donald Trump</h3>
        <h4 class="title">Candidate</h4>
      </div>
      <ul class="social">
        <li><a href="https://www.facebook.com/DonaldTrump/?locale=en_GB" class="button-logo facebook" aria-hidden="true"></a></li>
        <li><a href="https://twitter.com/realDonaldTrump" class="button-logo x" aria-hidden="true"></a></li>
        <li><a href="https://en.wikipedia.org/wiki/Donald_Trump" class="button-logo wiki" aria-hidden="true"></a></li>
        <li><a href="https://www.instagram.com/realdonaldtrump/?hl=en" class="button-logo insta" aria-hidden="true"></a></li>
      </ul>
    </div>
  </div>


        </body>
    </html>
