{% extends 'base.html' %}
{% block page_content %}
    <body>
        <div class="content">
            <a href="https://en.wikipedia.org/wiki/Rishi_Sunak">
                <img ID ="photo" src="../static/Images/rishi.jpg" alt="photo Rishi Sunak" width="40%">
            </a>
            <h2>Rishi Sunak:</h2><br>
            <p> {{text}} </p>
            <br>
            <br>
            <A href="https://en.wikipedia.org/wiki/Rishi_Sunak" ><p>Source: https://en.wikipedia.org/wiki/Rishi_Sunak</p></A>
        </div>
    </body>
{% endblock %}