* {
    margin: 0;
    padding: 0;
}

/* login page */
.login-page .content form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background: darkslategrey;
}

.login-page .content form label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.login-page .content form input[type="text"],
.content form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-page .content form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-page .content form button:hover {
    background-color: #45a049;
}


.login-page .content p {
    text-align: center;
    margin-top: 20px;
}

.login-page .content p a {
    color: #337ab7;
    text-decoration: none;
}

.login-page .content p a:hover {
    text-decoration: underline;
}


/* admin page */
.admin-page {
    background-color: #f2f2f2;
}

.admin-page #header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.admin-page #navbar li a {
    color: #fff;
}

.admin-page form {
    margin-top: 20px;
    text-align: center;
}

.admin-page form p {
    margin-bottom: 10px;
}

.admin-page form input[type="text"],
.admin-page form select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

.admin-page form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.admin-page form input[type="submit"]:hover {
    background-color: #555;
}

.admin-page h1 {
    color: #333;
    text-align: center;
}


.admin-page p {
    color: #555;
    text-align: center;
    line-height: 1;
    margin: 10px 0;
}

.admin-page h4 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    margin: 10px 0;
    color: #333;
}

.admin-page h1 {
    margin-top: 50px;
}

.admin-page .candidate-info {
    border: 1px solid #778899;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.view-messages-btn {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.view-messages-btn:hover {
    background-color: #555;
}


/* Registration Form Styling */
form#registration {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: darkslategrey;
}

form#registration label {
    display: block;
    margin: 10px 0 5px;
    color: white;
}

form#registration input[type="text"],
form#registration input[type="password"],
form#registration input[type="date"],
form#registration input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

form#registration button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form#registration button:hover {
    background-color: #45a049;
}

form#registration span#passwordError {
    font-size: 0.9em;
}

form#registration input, form#registration button {
    box-sizing: border-box;
}


/* Contact Form Styling */
.contact-page .content {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contact-page .content h1, .contact-page .content h3 {
    color: #333;
    text-align: center;
}

.contact-page .content form {
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}

.contact-page .content form label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.contact-page .content form input[type="text"],
.contact-page .content form input[type="email"],
.contact-page .content form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

.contact-page .content form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-page .content form input[type="submit"]:hover {
    background-color: #45a049;
}

.contact-page .content p {
    color: #555;
    line-height: 1.6;
    text-align: center;
}

/* Messages page Styling */

.messages h1 {
    color: #333;
    margin-top: 20px;
    font-size: 48px;
}

.message {
    max-width: 70%;
    margin: 10px auto;
    border-radius: 15px;
    background-color: #DCF8C6; /* Bubble background color */
    overflow: hidden; /* Ensures the message body stays within the bubble */
}

.message-header {
    padding: 5px 10px;
    background-color: #F0F0F0; /* Header background color */
    border-bottom: 1px solid #ccc; /* Border between header and body */
    border-radius: 15px 15px 0 0; /* Rounded top corners */
}

.message-body {
    padding: 10px;
}

/* vote page */

.vote-page .content {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.vote-page h1 {
    font-size: 48px;
    text-align: center;
    color: #333;
}

.vote-box {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vote-box p {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.vote-box form {
    margin-top: 20px;
    text-align: center;
}

.vote-box label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.vote-box input[type="radio"] {
    margin-right: 10px;
}

.vote-box .login-button {
    padding: 20px 200px;
    font-size: 20px;
    display: block;
    margin-top: 0px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.vote-box .login-button:hover {
    background-color: #45a049;
}

.Results-page .content h1 {
  color: #333;
  text-align: center;
}


.about-page .content h1 {
  color: #333;
  text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    background-size: 100%;
    align-items: center;

}

/* Navigation bar styles */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: darkslategrey;
}

#navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-right
{
  display: flex;
  justify-content: right;
  width: 100%;
}

#navbar li {
  list-style: none;
  margin: 0 10px;
}

#navbar-right li
{
  list-style:none;
  margin: 0 10px;
}

#navbar li a {
  color: #ffff;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
}

#navbar-right li a
{
  color:#ffff;
  text-decoration: none;
  font-size: 24px;
  text-align: right;
}

#navbar li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.25s;
}

#navbar-right li::after
{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.25s;
}

#navbar li:hover::after {
  width: 100%;
}

#navbar-right li:hover::after
{
  width: 100%;
}

/* Main content styles */
.content {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 400%;
    color: white;
    text-align: center;
    margin-top: 120px;
}

p {
    font-size: 18px;
    color: #555;
}

.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  opacity: 1;
}

.card-image {
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}



.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  z-index: 1;
  opacity: 1
}

.card-text{
  opacity: 1;
}

.cardTest {
  width: 100%;
  height: 330px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../static/Images/parl.jpg);

}

.cardTest::after{
  content: '';
  width: 0%;
  height: 4px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.25s;
}

.cardTest:hover::after {
  width: 100%;
}

.card:hover {
  transform: translateY(-10px);
}

.card1 {
  background-image: url(../static/Images/joe.jpg);
}

.card2 {
  background-image: url(../static/Images/donald.jpg);
}

.card3 {
  background-image: url(../static/Images/boris.jpg);
}

.card4 {
  background-image: url(../static/Images/rishi.jpg);
}


.card h3 {
  color: yellow;
}

.card2 h3 {
  color: #d78cff;
}

.card3 h3 {
  color: yellow;
}

.card4 h3 {
  color: #d78cff;

}
.row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#photo  /* Photos on the candidate pages  */
{
  float: left;
  border: 0px;
  margin: 8px;
}




.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-right: 25px;
  width: 250px;
  float: left;
}

.our-team .picture {
  display: inline-block;

  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 250px;
  height: 330px;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 250px;
  height: 330px;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}


.button-logo{
  width: 20px; /* Set the width of the button */
  height: 20px; /* Set the height of the button */
  background-size: contain; /* This will make the image fit within the button */
}

.facebook {
  background-image: url('../static/Images/facebook.jpg');
}

.insta{
  background-image: url('../static/Images/insta.jpg');
}

.x{
  background-image: url('../static/Images/xLogo.jpg');
}

.wiki{
  background-image: url('../static/Images/wiki.png');
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

<<<<<<< HEAD
#submit-container{
  position: relative;
}

#passwordError{
  display: none;
}

#passwordError.show{
  display: inline;
